<.workbench_layout current_page={:home} show_menu={false}>
  <div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900">
    <.container class="text-center">
      <.h1 class="mb-8 text-4xl font-bold text-gray-900 dark:text-white">Welcome to Jido Workbench</.h1>
      
      <div class="flex flex-col gap-4 w-full max-w-md mx-auto">
        <.button link_type="live_redirect" to={~p"/jido"} class="w-full py-3 text-lg">
          <.icon name="hero-chat-bubble-left-ellipsis" solid class="w-6 h-6 m-0.5 mr-2" />
          Chat with Jido
        </.button>
        
        <.button link_type="live_redirect" to={~p"/actions"} class="w-full py-3 text-lg">
          <.icon name="hero-bolt" solid class="w-6 h-6 m-0.5 mr-2" />
          Actions
        </.button>
        
        <!--.button link_type="live_redirect" to={~p"/agent/generate"} class="w-full py-3 text-lg">
          <.icon name="hero-users" solid class="w-6 h-6 m-0.5 mr-2" />
          Generate Agent
        </.button-->
      </div>
    </.container>
  </div>
</.workbench_layout>
